---
import Layout from "../layouts/Layout.astro"
import '../styles/global.css'
---
<Layout  title="Main page">
	<div class="container mx-5">
		<h1 class="font-black text-4xl text-red-400">It's jokes site! Please choose category above</h1>
	</div>
	
</Layout>
